name: "Action Test Workflow"

on:
  workflow_dispatch:

jobs:
  test:
    name: "Local Action Test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Local Action
        uses: jpfulton/danger-js-action@main
        with:
          dangerfile: "dangerfile.ts"
          github_token: ${{ secrets.GITHUB_TOKEN }}